trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - '06_Playwright_Framework/**'

pr:
  branches:
    include:
      - main
      - develop

schedules:
  - cron: "0 2 * * *"
    displayName: Daily test run
    branches:
      include:
        - main
    always: true

pool:
  vmImage: 'ubuntu-latest'

variables:
  PYTHON_VERSION: '3.11'
  WORKING_DIR: '06_Playwright_Framework'

stages:
  - stage: Build
    displayName: 'Build and Setup'
    jobs:
      - job: Setup
        displayName: 'Setup Environment'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: $(PYTHON_VERSION)
            displayName: 'Install Python'

          - script: |
              cd $(WORKING_DIR)
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          - script: |
              cd $(WORKING_DIR)
              playwright install --with-deps
            displayName: 'Install Playwright browsers'

  - stage: Test
    displayName: 'Run Tests'
    dependsOn: Build
    jobs:
      - job: SmokeTests
        displayName: 'Run Smoke Tests'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: $(PYTHON_VERSION)
            displayName: 'Install Python'

          - script: |
              cd $(WORKING_DIR)
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          - script: |
              cd $(WORKING_DIR)
              playwright install chromium
            displayName: 'Install Chromium'

          - script: |
              cd $(WORKING_DIR)
              pytest -m smoke -v
            displayName: 'Run smoke tests'
            env:
              CI: true
              HEADLESS: true
              BASE_URL: $(BASE_URL)
              TEST_USER_EMAIL: $(TEST_USER_EMAIL)
              TEST_USER_PASSWORD: $(TEST_USER_PASSWORD)
            continueOnError: true

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(WORKING_DIR)/reports/junit*.xml'
              failTaskOnFailedTests: false
              testRunTitle: 'Smoke Tests'
            displayName: 'Publish smoke test results'
            condition: always()

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(WORKING_DIR)/reports'
              artifact: 'smoke-test-reports'
            displayName: 'Publish smoke test artifacts'
            condition: always()

      - job: RegressionTests
        displayName: 'Run Regression Tests'
        dependsOn: SmokeTests
        strategy:
          matrix:
            chromium:
              BROWSER: 'chromium'
            firefox:
              BROWSER: 'firefox'
            webkit:
              BROWSER: 'webkit'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: $(PYTHON_VERSION)
            displayName: 'Install Python'

          - script: |
              cd $(WORKING_DIR)
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          - script: |
              cd $(WORKING_DIR)
              playwright install $(BROWSER)
            displayName: 'Install $(BROWSER)'

          - script: |
              cd $(WORKING_DIR)
              pytest -m regression --browser=$(BROWSER) -v
            displayName: 'Run regression tests on $(BROWSER)'
            env:
              CI: true
              HEADLESS: true
              BASE_URL: $(BASE_URL)
              TEST_USER_EMAIL: $(TEST_USER_EMAIL)
              TEST_USER_PASSWORD: $(TEST_USER_PASSWORD)
            continueOnError: true

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(WORKING_DIR)/reports/junit*.xml'
              failTaskOnFailedTests: false
              testRunTitle: 'Regression Tests - $(BROWSER)'
            displayName: 'Publish test results'
            condition: always()

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(WORKING_DIR)/reports'
              artifact: 'regression-reports-$(BROWSER)'
            displayName: 'Publish test artifacts'
            condition: always()

      - job: APITests
        displayName: 'Run API Tests'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: $(PYTHON_VERSION)
            displayName: 'Install Python'

          - script: |
              cd $(WORKING_DIR)
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          - script: |
              cd $(WORKING_DIR)
              playwright install
            displayName: 'Install Playwright'

          - script: |
              cd $(WORKING_DIR)
              pytest -m api -v
            displayName: 'Run API tests'
            env:
              CI: true
              API_BASE_URL: $(API_BASE_URL)
            continueOnError: true

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(WORKING_DIR)/reports/junit*.xml'
              failTaskOnFailedTests: false
              testRunTitle: 'API Tests'
            displayName: 'Publish API test results'
            condition: always()

          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(WORKING_DIR)/reports'
              artifact: 'api-test-reports'
            displayName: 'Publish API test artifacts'
            condition: always()
